@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,600;1,400&display=swap');

.y-go-font {
    font-family: 'Josefin Sans', sans-serif;
}

.y-go-1x {
    font-size: 1rem !important;
}

.sticky-header {
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0 !important;
    z-index: 1000;
}

.navigation-bar li {
    display: inline-block;
    padding: 0 10px;
    text-align: center;
}

.navigation-bar a {
    text-decoration: none;
    color: #ff5722;
}

.navigation-bar a:hover {
    color: rgba(255, 87, 34, 0.7);
}

.form-section {
    background-image: url('../assets/Landing/landing_bg.jpg');
    /* height: 675px; */
}

.pattern-bg {
    background-image: url('../assets/Landing/landing_bg.jpg');
    min-height: 100vh;
}

.text-body,
.text-body2,
.text-caption,
.text-subtitle,
.text-subtitle2,
.text-subtitle3,
a {
    font-size: 16px !important;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ff5722;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #dd2c00;
}
