.social-ribbon li {
    display: inline-block;
    margin-right: 20px;
}

.social-ribbon a {
    text-decoration: none;
    color: #fff;
}

.social-ribbon a:hover {
    color: rgba(255, 255, 255, 0.7);
}

.navigation-bar ul {
    float: right;
}

.navigation-bar li {
    display: inline-block;
    margin-right: 30px;
}

.navigation-bar a {
    text-decoration: none;
    color: #fff;
}

.navigation-bar a:hover {
    color: rgba(255, 255, 255, 0.7);
}
